@import "~bulma";
@import "~bulma-timeline";

.navbar {
  border-bottom: 1px solid #eee;
  margin-bottom: 8px;
}

.gh-username img {
  width: 32px;
}

#profile-bio {
  margin-top: 10px;
}

.history {
  &-content {
    display: flex;
  }
}

.timeline {
  &-item {
    padding-bottom: 1em;
  }

  &-avatar {
    max-width: 32px;
    margin: 0.25em 0.75em 0 0;
  }
}
